.bold{
    font-weight: bold;
}
.black{
    background-color: black;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}
.blue{
    background-color: blue;
}
.color{
    background-color: white;
}
